<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ContinentalAssistApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Our application requires access to your location to provide you with a safer and more efficient service. Geolocation allows us to identify the city you are in in real time, which in turn allows us to offer relevant and timely information in case of emergency. For example, if you are located in Mexico City, our application will display the contact phone numbers for our help center that are valid and available to be dialed from that specific location. This feature ensures that in critical situations, such as medical emergencies or security issues, you have quick and accurate access to the help you need, thereby improving your experience and security while using our app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Our application requires access to your location to provide you with a safer and more efficient service. Geolocation allows us to identify the city you are in in real time, which in turn allows us to offer relevant and timely information in case of emergency. For example, if you are located in Mexico City, our application will display the contact phone numbers for our help center that are valid and available to be dialed from that specific location. This feature ensures that in critical situations, such as medical emergencies or security issues, you have quick and accurate access to the help you need, thereby improving your experience and security while using our app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Our application requires access to your location to provide you with a safer and more efficient service. Geolocation allows us to identify the city you are in in real time, which in turn allows us to offer relevant and timely information in case of emergency. For example, if you are located in Mexico City, our application will display the contact phone numbers for our help center that are valid and available to be dialed from that specific location. This feature ensures that in critical situations, such as medical emergencies or security issues, you have quick and accurate access to the help you need, thereby improving your experience and security while using our app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceder a tu biblioteca de fotos para permitirte seleccionar imágenes para subir a la aplicación.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
