<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAicyfGf2QYtRucaQJJXxOTCb-CoZsDQvo</string>
	<key>GCM_SENDER_ID</key>
	<string>657181137880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.continentalassistv2.app</string>
	<key>PROJECT_ID</key>
	<string>continentalchat-9d236</string>
	<key>STORAGE_BUCKET</key>
	<string>continentalchat-9d236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657181137880:ios:ff091027fd51d03a7af0ad</string>
	<key>DATABASE_URL</key>
	<string>https://continentalchat-9d236.firebaseio.com</string>
</dict>
</plist>